.classes_list {
  max-width: 1633px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'header header''heading new''table table''pagination pagination';
  padding: 1rem;

  &__heading {
    grid-area: heading;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin: 32px auto;
  }

  tr {
    // background: #E4E4E4;

    &:nth-child(even) {
      background: #f2f2f2;
    }
  }

  td,
  th {
    padding: 0.6rem 1rem;
    background-color: transparent;
  }

  &__btn {
    background: #05a081;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }

  &__new {
    grid-area: new;
    justify-self: end;
    align-self: center;
    text-decoration: none;
  }

  &__table {
    grid-area: table;
  }

  &__pagination {
    grid-area: pagination;
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    margin-bottom: 3rem;

    &__link {
      padding: 4px 8px;
      text-decoration: underline;

      &__active {
        text-decoration: none;
      }
    }
  }
}

.header {
  background: #232a34;
  grid-area: header;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;

  svg {
    fill: #fff;
    height: 32px;
    width: 40px;
    margin-right: 16px;
  }

  &__heading {
    font-size: 24px;
    font-weight: 900;
    color: #fff;
  }

  &__btn {
    text-decoration: none;
    margin-left: auto;
    align-self: auto;
  }
}
