.chat {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-areas: 'title title title''chessboard video video''controls chat chat';
  width: 100%;
  padding: 3rem;

  &__title {
    grid-area: title;
    margin-bottom: 1.5rem;
  }

  &__video {
    grid-area: video;
  }

  &__controls {
    grid-area: controls;
    display: flex;
    flex-direction: row;
  }

  &__chessboard {
    grid-area: chessboard;
  }

  &__button {
    padding: 1rem;
  }
}
