.create_class {
  max-width: 1633px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'header header''heading heading''main users''main list';

  &__heading {
    grid-area: heading;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin: 32px auto;
  }

  &__main_form {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin: 0 32px;
  }

  &__users_form {
    display: flex;
    flex-direction: row;
    grid-area: users;

    label {
      margin-right: 16px;
    }

    button {
      align-self: center;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
  }

  &__list {
    grid-area: list;
  }

  &__list_item {
    margin: 16px 0;
    display: flex;
    align-items: center;

    button {
      width: 26px;
      height: 26px;
      display: flex;
      background-color: #DE3723;
      border-radius: 5px;
      margin-left: 5px;
    }

    svg {
      height: 18px;
      fill: #fff;
      margin: auto;
    }
  }
}

.header {
  background: #232A34;
  grid-area: header;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;

  svg {
    fill: #fff;
    height: 32px;
    width: 40px;
    margin-right: 16px;
  }

  &__heading {
    font-size: 24px;
    font-weight: 900;
    color: #fff;
  }

  &__btn {
    text-decoration: none;
    margin-left: auto;
    align-self: auto;
  }
}
