.start {
  width: 600px;
  margin: auto;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
  }
}

.background {
  display: flex;
  height: 100vh;
}
