.start {
  width: 600px;
  margin: auto;

  &__heading {
    grid-area: heading;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin: 32px auto;
  }

  &__btn {
    margin-left: auto;
  }

  &__btns {
    display: flex;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
  }

  &__error {
    color: #DE3723;
    font-size: 1rem;
  }
}

.background {
  display: flex;
  height: 100vh;
}
