$root-font-size: 16px;
@import './helpers/calculation-helpers-rem-pc';
@import './elements/fonts';
@import './helpers/sr-only';
@import './helpers/font-mixins';
@import './helpers/reset';

$text-color: #333;
$text-white: #fff;
$input-background: #e4e4e4;
$btn: #05a081;
$btn-hover: #03745d;

html {
  background: white;
}

p,
a,
span,
button,
h1,
h2,
h3,
h4,
h5,
li,
label,
th,
td {
  @include roboto(16px, $text-color);
}

.sr-only {
  @include sr-only;
}

input,
textarea {
  @include roboto(16px, $text-color);

  background: $input-background;
  border: none;
  border-radius: 5px;
  padding: 0.8em;
}

textarea {
  resize: none;
}

select {
  @include roboto(16px, $text-color);

  background: $input-background;
  border: none;
  border-radius: 5px;
  padding: 0.8em;
}

option {
  @include roboto(16px, $text-color);

  background: $input-background;
  border: none;
  border-radius: 5px;
  padding: 0.8em;
}

.label {
  @include roboto(16px, $text-color);
  margin: 16px 0 8px 0;
}

.btn {
  background: $btn;
  padding: 0.4em 0.6em;
  border-radius: 5px;
  @include roboto(16px, $text-white);
  transition: background 0.2s ease-in-out;
  align-self: flex-end;
  // margin-top: 1rem;
  cursor: pointer;
  // display: flex;
  // align-items: center;

  svg {
    fill: $text-white;
    height: 15px;
    width: 15px;
    margin-right: 5px;
  }

  &:hover {
    background: $btn-hover;
  }
}

.btn--submit {
  margin-top: 1rem;
}

.btn--delete {
  background-color: #DE3723;
  margin-left: auto;
  border-radius: 5px;
  @include roboto(16px, $text-white);
  padding: .4rem .6rem;
  transition: background 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background: #a32416;
  }
}

.mt {
  margin-top: 1rem;
}

.btn--add {
  background-color: #0374AD;
  border-radius: 5px;
  @include roboto(16px, $text-white);
  padding: .4rem .6rem;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  margin-left: .5rem;
  display: flex;
  align-items: center;

  &:hover {
    background: #05364e;
  }

  svg {
    fill: $text-white;
    height: 15px;
    width: 15px;
    margin-right: 5px;
  }
}
